header {
    text-align: center;
    padding: 2rem 0rem 4rem 0rem;
    background-color: coral;
    border-radius: 0px 0px 10px 10px;
    margin-bottom: 3rem;
    color: cornsilk;
    font-weight: bold;
    font-family: 'Lobster', cursive;
    border: cornsilk solid 2px;
}

#submit {
    margin: 2rem;
}

h1 {
    font-weight: bolder;
}

h3 {
    font-weight: normal;
    font-family: 'Lobster', cursive;
}

.questionBox{
    border: cornsilk solid 2px;
    background-color: darkorange;
    border-radius: 10px;
    padding: 2rem;
    color: cornsilk;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

.question {
    padding:1rem;
    font-size: 1.5rem;
    font-weight: bolder;
    
}

.answers {
    text-align: center;
}

.custom-control-inline {
    margin: 0px;
}

.custom-control-label {
    font-weight: bold;
}

.custom-radio {
    padding: 1rem;
}

.row {
    text-align: center;
}

.score {
    padding: 1rem;
}

p {
    font-size: 1.25rem;
}

body {
    background-color: rgb(255, 233, 145);
}